:host {
  .testing-controls > .object-picker {
    display: flex;
    flex-flow: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-bottom: 8px;
    yuv-dms-object-picker {
      max-width: 500px;
    }
  }
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 90vw;

    pre {
      background-color: var(--panel-background-grey);
      padding: var(--app-pane-padding);
      margin: var(--app-pane-padding) 0 0 0;
    }
  }
}
