:host {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--app-pane-padding);

  yuv-panel {
    display: block;
    width: calc(1000px - calc(var(--app-pane-padding) * 2));
    max-height: 100%;
    background: var(--panel-background);
    display: grid;
    border: 1px solid var(--panel-divider-color);

    .actions .type-select {
      align-self: center;
    }

    .content {
      border-top: 1px solid var(--panel-divider-color);
      display: flex;
      // padding: var(--app-pane-padding) calc(var(--app-pane-padding) / 2);

      ::ng-deep yuv-search-filter-config header {
        display: none;
      }
    }
  }
}
