<div class="testing-controls">
  <yuv-dms-object-picker (dmsObject)="setDmsObjectInput($event)"></yuv-dms-object-picker>
  <!-- <button (click)="setDmsObjectInput()">Set dmsObject input</button> -->
  <div class="buttons">
    <button (click)="contentDmsObjectInput()">with content</button>
    <button (click)="clearDmsObjectInput()">NULL dmsObject input</button>
    <button (click)="clearDmsObjectInput()">Invalid dmsObject input</button>
    <button (click)="showExtras = !showExtras">toggle extras</button>
    <button (click)="clearStorage()">Clear Storage</button>
  </div>
</div>

<div class="cmp">
  <yuv-summary [dmsObject]="summaryObject" [showExtrasSection]="showExtras"></yuv-summary>
</div>
