@import '~@yuuvis/framework/framework.css';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.yuv-test-container {
  display: flex;
  flex-flow: column;

  .testing-controls {
    // position: absolute;
    // left: 0;
    // top: 0;
    padding: 10px;
    margin-bottom: 20px;

    .buttons {
      display: flex;
      flex-flow: row wrap;
      padding: 4px;
      margin-bottom: 8px;

      button {
        flex: 0 0 auto;
        font-family: monospace;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 2px;
        &.current {
          background-color: black;
          color: white;
        }
      }
    }

    .group {
      display: inline-block;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      padding: 2px;
      margin: 2px;
      strong {
        padding: 0 8px;
      }
    }
  }

  .cmp {
    display: block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}
