:host {
  width: 90%;
  height: 90%;
  .cmp {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.06);
    font-size: 4em;
    position: relative;
  }

  yuv-action-menus ::ng-deep {
    .action-menu {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 25vw;
      min-width: 300px;
      z-index: 1000;
      animation: yuvFadeInRight var(--app-default-transition-duration);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
