<div class="cmp">

  <div id="user1">
    <yuv-user-avatar class="medium circle" [user]="user1"></yuv-user-avatar>
    <yuv-user-avatar class="large" [user]="user1"></yuv-user-avatar>
    <yuv-user-avatar class="medium" [user]="user1"></yuv-user-avatar>
    <yuv-user-avatar [user]="user1"></yuv-user-avatar>
    <div class="label">user with image</div>
  </div>
  <div id="user2">
    <yuv-user-avatar class="medium circle" [user]="user2"></yuv-user-avatar>
    <yuv-user-avatar class="large" [user]="user2"></yuv-user-avatar>
    <yuv-user-avatar class="medium" [user]="user2"></yuv-user-avatar>
    <yuv-user-avatar [user]="user2"></yuv-user-avatar>
    <div class="label">user no image but first- and lastname</div>
  </div>
  <div id="user3">
    <yuv-user-avatar class="medium circle" [user]="user3"></yuv-user-avatar>
    <yuv-user-avatar class="large" [user]="user3"></yuv-user-avatar>
    <yuv-user-avatar class="medium" [user]="user3"></yuv-user-avatar>
    <yuv-user-avatar [user]="user3"></yuv-user-avatar>
    <div class="label">user no image no name</div>
  </div>
</div>