<section class="inbox-wrapper" *ngIf="inboxData$ | async as inboxData; else empty">
  <yuv-responsive-master-slave class="state" 
    [layoutOptionsKey]="layoutOptionsKey"
    [slaveActive]="itemIsSelected"
    (slaveClosed)="onSlaveClosed()">
  <yuv-process-list
    class="yuv-master panel"
    [showFooter]="true"
    [headerDetails]="headerDetails"
    [layoutOptionsKey]="layoutOptionsKey"
    [processData]="inboxData"
    (refreshList)="refreshList()"
    (selectedItem)="selectedItem($event)"></yuv-process-list>
  <section class="yuv-slave panel">
    <yuv-process-details 
      [objectId]="objectId"
      [layoutOptionsKey]="layoutOptionsKey"
      [plugins]="plugins"
      [emptyMessage]="'yuv.framework.bpm.inbox.confirm' | translate"
      (remove)="remove($event)">
    </yuv-process-details>
  </section>
</yuv-responsive-master-slave>
</section>

<ng-template #empty>
  <app-process-list-empty
    [state]="'inbox'" 
    [headerDetails]="headerDetails"
    [loading]="loading$"
    [message]="'yuv.client.state.inbox.list.empty'| translate"
    (refresh)="refreshList()"></app-process-list-empty>
</ng-template>