:root {
  /* --color-accent-rgb: 131,108,172;
  --color-accent: rgb(var(--color-accent-rgb));
  --color-accent-1: #9885ba;
  --color-accent-2: #bcafd2;

  --theme-transparent-app-bar-color: #fff;
  --theme-background: url(https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80); 
  --theme-nav-header: url('https://blob.freent.de/image/4806342/847x565/847/565/b0/f30a15f000d10ee990886330c1558d42/eu/00-chuck-norris-imago-entertainment-pictures-imago55180267h-jpg.jpg');
  */
}
