<section>
  <yuv-icon [icon]=""></yuv-icon>

  <section>
    <header>
      <h3>All default icons via registry</h3>
    </header>
    <yuv-icon title="addCircle" [icon]="'addCircle'"></yuv-icon>
    <yuv-icon title="clear" [icon]="'clear'"></yuv-icon>
    <yuv-icon title="arrowDown" [icon]="'arrowDown'"></yuv-icon>
    <yuv-icon title="arrowLast" [icon]="'arrowLast'"></yuv-icon>
    <yuv-icon title="arrowNext" [icon]="'arrowNext'"></yuv-icon>
    <yuv-icon title="cloudUpload" [icon]="'cloudUpload'"></yuv-icon>
    <yuv-icon title="contentDownload" [icon]="'contentDownload'"></yuv-icon>
    <yuv-icon title="contentUpload" [icon]="'contentUpload'"></yuv-icon>
    <yuv-icon title="datepicker" [icon]="'datepicker'"></yuv-icon>
    <yuv-icon title="deleteIcon" [icon]="'deleteIcon'"></yuv-icon>
    <yuv-icon title="done" [icon]="'done'"></yuv-icon>
    <yuv-icon title="edit" [icon]="'edit'"></yuv-icon>
    <yuv-icon title="envelope" [icon]="'envelope'"></yuv-icon>
    <yuv-icon title="favorite" [icon]="'favorite'"></yuv-icon>
    <yuv-icon title="finalized" [icon]="'finalized'"></yuv-icon>
    <yuv-icon title="folder" [icon]="'folder'"></yuv-icon>
    <yuv-icon title="globe" [icon]="'globe'"></yuv-icon>
    <yuv-icon title="info" [icon]="'info'"></yuv-icon>
    <yuv-icon title="kebap" [icon]="'kebap'"></yuv-icon>
    <yuv-icon title="lock" [icon]="'lock'"></yuv-icon>
    <yuv-icon title="navBack" [icon]="'navBack'"></yuv-icon>
    <yuv-icon title="noFile" [icon]="'noFile'"></yuv-icon>
    <yuv-icon title="refresh" [icon]="'refresh'"></yuv-icon>
    <yuv-icon title="resubmission" [icon]="'resubmission'"></yuv-icon>
    <yuv-icon title="searchFilter" [icon]="'searchFilter'"></yuv-icon>
    <yuv-icon title="search" [icon]="'search'"></yuv-icon>
    <yuv-icon title="subscription" [icon]="'subscription'"></yuv-icon>
    <yuv-icon title="verticalSplit" [icon]="'verticalSplit'"></yuv-icon>
  </section>
  <section>
      <header>
          <h3>SVG direct injected</h3>
      </header>
      <yuv-icon [svg]="svg"></yuv-icon>
    </section>

    <section>
      <header>
          <h3>SVG direct injected</h3>
      </header>
      <yuv-icon [svg]="svg" [svgDim]="[100, 100]"></yuv-icon>
    </section>

</section>
