:host {
  display: block;
  width: 90%;
  height: 80%;

  yuv-object-details {
    height: 100%;
    ::ng-deep {
      .p-tabview .p-tabview-panels {
        background-color: var(--panel-background-grey);
      }
    }
  }
}
