@import '../../../../src/scss-shared/_mixins';

:host {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--app-pane-padding);

  yuv-panel {
    display: block;
    // width: calc(800px - calc(var(--app-pane-padding) * 2));
    width: 1000px;
    max-height: 100%;
    background: var(--panel-background);
    display: grid;
    border: 1px solid var(--panel-divider-color);

    .content {
      border-top: 1px solid var(--panel-divider-color);
      display: flex;
      // padding: var(--app-pane-padding) calc(var(--app-pane-padding) / 2);
    }

    yuv-column-config-select {
      flex: 0 0 33%;
      overflow-y: auto;
      border: 0;
      @include bidi-style(border-right, 1px solid var(--panel-divider-color), border-left, 1px solid var(--panel-divider-color));
      // margin: 0 calc(var(--app-pane-padding) / 2);
      // border: 1px solid var(--panel-divider-color);
    }
    yuv-column-config {
      // margin: 0 calc(var(--app-pane-padding) / 2);
      border: 0;
      flex: 1;
    }
  }
}
