:host {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: var(--app-pane-padding);

  ::ng-deep .yuv-slave {
    .refresh-button {
      display: none;
    }
  }

  .yuv-slave .version {
    position: absolute;
    z-index: 1;
    right: calc(var(--app-pane-padding) * 3);
    top: var(--app-pane-padding);
    font-size: 5em;
    pointer-events: none;
    line-height: 1em;
    color: rgba(var(--color-accent-rgb), 0.2);
  }

  .screen-s & {
    padding: 0;

    ::ng-deep {
      .as-split-gutter {
        border-top: 1px solid var(--panel-divider-color);
        border-bottom: 1px solid var(--panel-divider-color);
      }
    }

    .panel {
      border: 0;
    }
  }
}
