<div class="dashboard themeBackground" (yuvFileDrop)="onFilesDropped($event)"
  [yuvFileDropOptions]="{ label: 'yuv.client.frame.app-bar.filedrop.label' | translate, disabled: disableFileDrop, multiple: true }">

  <div class="top">
    <yuv-quick-search *ngIf="reloadComponent" #quickSearch [query]="appQuery"
      (typeAggregation)="onTypeAggregation($event)" (queryReset)="onQuickSearchReset()"
      (querySubmit)="onQuickSearchQuery($event)"></yuv-quick-search>

    <yuv-grouped-select #aggs class="aggs" *ngIf="aggs?.length" [toggleable]="false" [enableSelectAll]="false"
      [multiple]="false" [groups]="aggsGroups" (select)="applyAggregation($event)">
    </yuv-grouped-select>

  </div>

  <div class="bottom">
    <yuv-recent-activities *ngIf="reloadComponent" id="ra-dashboard" (itemClick)="onRecentItemClicked($event)"
      (showAll)="onShowAll($event)">
    </yuv-recent-activities>
  </div>
</div>
