@import '~@yuuvis/framework/framework.css';
@import 'scss/main';

:root {
  --theme-transparent-app-bar-color: var(--color-primary);
  --theme-background-color: #eee;
  --theme-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='83' height='83' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23cacaca' fill-opacity='0.06'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  --theme-nav-header: url('assets/default/theme/bgr_sidebar.png');
}
body.dark {
  --theme-transparent-app-bar-color: var(--text-color-caption);
  --theme-background-color: rgb(33, 33, 33);
  --theme-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='83' height='83' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23272b2e' fill-opacity='0.15'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.15'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  // Disables pull-to-refresh and overscroll glow effect. Still keeps swipe navigations.
  // https://developers.google.com/web/updates/2017/11/overscroll-behavior
  overscroll-behavior-y: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-size: var(--font-body);
  color: var(--text-color-body);
}

.themeBackground {
  background-color: var(--theme-background-color);
  background-image: var(--theme-background);
}

yuv-action-menu .action-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25vw;
  min-width: 300px;
  z-index: 1000;
  animation: yuvFadeInRight var(--app-default-transition-duration);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(var(--color-primary-rgb), 0.95);
  color: #fff;
}
