<div class="head" dir="ltr">
  <span (click)="showNav = !showNav" class="hamburger"></span>
  <div class="title">
    yuuvis component playground
  </div>
  <div class="settings">

    <div class="colorpicker">
      <div class="color">
        <span class="clear" (click)="setAccentColor(null)">clear</span>
        <span *ngFor="let c of accentColorRGB" (click)="setAccentColor(c)"
          [ngStyle]="{'background-color': getBackgroundColor(c)}"></span>
      </div>
      <div class="current-color"></div>
    </div>
    <button class="toggle" (click)="toggleDirection()">{{uiSettings.direction === 'rtl' ? 'RTL' : 'LTR'}}</button>
    <button class="toggle" (click)="toggleDarkMode()">{{uiSettings.darkMode ? 'DARK' : 'LIGHT'}}</button>
  </div>
  <div class="user" *ngIf="!!user; else tplNotLoggedIn">USER: '{{user?.username}}'</div>
  <ng-template #tplNotLoggedIn>
    <div class="user">Not logged in</div>
  </ng-template>
</div>

<nav>
  <a [routerLink]="[route]" routerLinkActive="active" *ngFor="let route of routes">{{route}}</a>
</nav>

<div class="body" id="outlet">
  <router-outlet></router-outlet>
</div>