$avatar-size: 150px;
$avatar-size-small: 80px;

:host-context(.screen-s) {
  .settings {
    .head {
      .user {
        justify-content: flex-end;
        padding-right: var(--app-pane-padding);

        h1 {
          font-size: var(--font-headline);
        }
        .meta {
          margin: 0.5em 0;
          font-size: var(--font-hint);
        }
      }
    }

    .setting.cache__setting {
      .value.buttons {
        flex-flow: column;

        .cache {
          margin-left: 0;
          margin-top: calc(var(--app-pane-padding) / 4);
        }
      }
    }
  }
}

// small screens - Portrait
:host-context(.screen-s.screen-portrait) {
  .settings {
    grid-template-rows: 25% 1fr;

    .head {
      .user {
        padding-right: calc(#{$avatar-size-small} + calc(var(--app-pane-padding) * 2));
      }
    }
  }
}

// small screens - Landscape
:host-context(.screen-s.screen-landscape) {
  .settings {
    display: flex;

    .head {
      flex: 0 0 36%;

      yuv-user-avatar.box {
        right: var(--app-pane-padding);
        top: var(--app-pane-padding);
      }
    }
    .body {
      flex: 1;
    }
  }
}

:host {
  display: block;
  height: 100%;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  justify-content: center;

  .cache {
    display: flex;
    flex-flow: row wrap;
    margin: 0 var(--app-pane-padding);
  }

  .settings {
    width: calc(800px - calc(var(--app-pane-padding) * 2));
    box-sizing: border-box;
    max-height: 100%;
    margin: var(--app-pane-padding);
    box-sizing: border-box;
    background: var(--panel-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 1fr;
    grid-template-areas: 'head' 'body';

    @media (max-width: 800px) {
      margin: 0;
      width: 100%;
    }

    .head {
      grid-area: head;
      position: relative;
      background-color: var(--color-primary);

      yuv-user-avatar.background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0.2;
        filter: grayscale(1);
      }
      yuv-user-avatar.box {
        position: absolute;
        right: var(--app-pane-padding);
        bottom: calc(var(--app-pane-padding) * -1);
        border-radius: 2px;
        border: calc(var(--app-pane-padding) / 4) solid #fff;
        width: $avatar-size;
        height: $avatar-size;
        overflow: hidden;
        z-index: 2;
      }
      .user {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        padding: var(--app-pane-padding) calc(#{$avatar-size} + calc(var(--app-pane-padding) * 2)) var(--app-pane-padding) var(--app-pane-padding);
        box-sizing: border-box;
        color: #fff;

        .meta {
          margin: calc(var(--app-pane-padding) / 2) 0;
          opacity: 0.7;
        }
        h1 {
          margin: 0;
          padding: 0;
          font-size: var(--font-display);
          font-weight: var(--font-weight-light);
          line-height: 1em;
        }
      }
    }
    .body {
      grid-area: body;
      position: relative;
      .body-wrap {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        padding: var(--app-pane-padding);

        .settings-section {
          display: flex;
          align-items: center;
          margin-top: calc(var(--app-pane-padding) * 2);
          margin-bottom: calc(var(--app-pane-padding) / 2);
          border-bottom: 1px solid var(--panel-divider-color);

          h3 {
            flex: 1;
            font-size: var(--font-title);
            font-weight: normal;
            color: var(--text-color-hint);
            margin: 0;
          }
          ::ng-deep {
            button {
              background-color: var(--panel-background-grey);
              margin: calc(var(--app-pane-padding) / 4) calc(var(--app-pane-padding) / 8);
              padding: calc(var(--app-pane-padding) / 4) calc(var(--app-pane-padding) / 2);
              font-size: var(--font-caption);
            }
          }
        }

        .label {
          color: var(--text-color-caption);
        }

        .setting {
          display: flex;
          align-items: center;
          padding: calc(var(--app-pane-padding) / 2) 0;

          .label {
            flex: 0 0 30%;
            color: var(--text-color-caption);
          }
          .value {
            color: var(--text-color-caption);
            display: flex;
            flex-flow: wrap;
            flex: 1;

            &.buttons {
              margin: 0 calc(var(--app-pane-padding) / 8 * -1);

              &.plugin-enable {
                flex: 0 1 auto;
              }
            }

            ::ng-deep {
              button {
                background-color: var(--panel-background-grey);
                margin: 2px calc(var(--app-pane-padding) / 8);
                padding: calc(var(--app-pane-padding) / 4) calc(var(--app-pane-padding) / 2);

                &.active {
                  background-color: var(--color-accent);
                  color: #fff;
                }
              }
            }

            button.color {
              display: flex;
              flex-flow: column;
              align-items: center;
              justify-content: center;
              min-width: 24px;
              height: 24px;
              border-radius: 2px;
              margin: 2px;
              padding: 0;
              cursor: pointer;

              &.active::before {
                content: '';
                height: 12px;

                width: 12px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.5);
              }

              &.clear {
                padding: 0 calc(var(--app-pane-padding) / 4);
              }
            }
          }

          .content.permissions {
            button.dropbown {
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding: calc(var(--app-pane-padding) / 4) var(--app-pane-padding);

              &.open {
                yuv-icon {
                  transform: rotate(180deg);
                }
              }
            }
            .dropdown-content {
              border: 1px solid var(--button-secondary-background);
              padding: var(--app-pane-padding);
            }

            .role {
              display: flex;
              align-items: center;
              padding: calc(var(--app-pane-padding) / 4) 0;

              yuv-icon {
                width: 18px;
                height: 18px;
                opacity: 0.5;
              }
              .name {
                padding: 0 calc(var(--app-pane-padding) / 2);
              }
            }
          }

          &:last-child {
            margin-bottom: calc(var(--app-pane-padding));
          }
        }
      }
    }
  }
}
