<!-- PWA update indicator -->
<div class="pwa-update" *ngIf="swUpdateAvailable">
  <span>{{ 'yuv.client.frame.app-bar.pwa-update.msg' | translate }}</span>
  <yuv-icon class="btn" [icon]="'refresh'" (click)="reload()"></yuv-icon>
  <yuv-icon class="btn close" [icon]="'close'" (click)="swUpdateAvailable = !swUpdateAvailable"></yuv-icon>
</div>

<ng-container *ngIf="user; else offlineNoUser">
  <div
    class="app-bar"
    *ngIf="!hideAppBar"
    (yuvFileDrop)="onFilesDropped($event)"
    [yuvFileDropOptions]="{ label: 'yuv.client.frame.app-bar.filedrop.label' | translate, disabled: disableFileDrop || tab, multiple: true }"
  >
    <yuv-icon class="btn" id="drawer" (click)="showSideBar(true)" replaceUrl [icon]="'drawer'"></yuv-icon>
    <a yuvOfflineDisabled routerLink="/" id="logo">
      <yuv-icon class="btn" [iconSrc]="'assets/default/theme/app.icon.svg'"></yuv-icon>
    </a>
    <div yuvOfflineDisabled class="main">
      <!-- create -->
      <a routerLink="/create" [queryParams]="{ context: context }" *ngIf="!disableCreate">
        <yuv-icon class="btn" [title]="'yuv.framework.object-create.header.title' | translate" [icon]="'add'"> </yuv-icon>
      </a>

      <!-- search -->
      <ng-container *ngIf="!tab">
        <div class="app-bar-search">
          <yuv-quick-search *ngIf="reloadComponent" [inline]="true" [context]="context" [query]="appQuery" (querySubmit)="onQuickSearchQuery($event)">
          </yuv-quick-search>
        </div>
      </ng-container>
    </div>
    <div class="right">
      <yuv-upload-progress-overlay (resultItemClick)="onResultItemClick($event)"></yuv-upload-progress-overlay>
      <yuv-icon *ngIf="isOffline" class="offline-icon" [icon]="'offline'" title="offline"></yuv-icon>
      <div yuvOfflineDisabled class="user" (click)="op.toggle($event)">
        <yuv-user-avatar [user]="user"></yuv-user-avatar>
      </div>

      <p-overlayPanel #op>
        <div class="user-panel" id="sidebar-profile" *ngIf="reloadComponent">
          <div class="avatar" [ngClass]="{ enabled: user?.enabled }">
            <yuv-user-avatar [user]="user"></yuv-user-avatar>
            <div class="user-title">
              <yuv-icon [icon]="'userDisabled'"></yuv-icon>
              <div>
                <span class="usertitle">{{ user?.title }}</span>
                <span class="email" title="{{ user?.email }}">{{ user?.email }}</span>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let config of settingsPlugins | async">
            <div class="nav-item settingsLink" (click)="op.hide()">
              <ng-container *ngTemplateOutlet="pluginLink; context: { $implicit: config }"></ng-container>
            </div>
          </ng-container>

          <div class="nav-item settings" (click)="op.hide()">
            <a routerLink="/settings" translate>yuv.client.state.settings.title</a>
          </div>
          <div class="nav-item logout">
            <!-- <a [routerLink]="['/enter', { logout: true }]" translate>yuv.client.frame.app-bar.logout</a> -->
            <a href="logout" (click)="logout($event)" translate>yuv.client.frame.app-bar.logout</a>
          </div>
        </div>
      </p-overlayPanel>
    </div>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <yuv-sidebar [display]="displaySideBar" (hide)="showSideBar(false)" id="sidebar-navigation" *ngIf="reloadComponent">
    <section class="content navigation-list">
      <div class="nav-item">
        <a routerLink="dashboard" routerLinkActive="active" (click)="showSideBar(false)" translate>yuv.client.state.dashboard.title</a>
      </div>
      <div class="nav-item">
        <a routerLink="create" *ngIf="!disableCreate" routerLinkActive="active" (click)="showSideBar(false)" translate>yuv.client.state.create.title</a>
      </div>
      <div class="nav-item">
        <a routerLink="/result" [queryParams]="{ query: pendingAFOsQuery, tmp: true }" routerLinkActive="active" (click)="showSideBar(false)" translate
          >yuv.client.sidebar.create.pending.title</a
        >
      </div>
      <div class="nav-item">
        <a routerLink="inbox" routerLinkActive="active" (click)="showSideBar(false)" translate>yuv.client.state.inbox.title</a>
      </div>
      <div class="nav-item">
        <a routerLink="processes" routerLinkActive="active" (click)="showSideBar(false)" translate>yuv.client.state.process.title</a>
      </div>
      <div class="nav-item">
        <a routerLink="settings" routerLinkActive="active" (click)="showSideBar(false)" translate>yuv.client.state.settings.title</a>
      </div>
      <div class="nav-item">
        <a routerLink="about" routerLinkActive="active" (click)="showSideBar(false)" translate>yuv.client.state.about.title</a>
      </div>

      <ng-container *ngFor="let config of navigationPlugins | async">
        <div class="nav-item plugin-link" (click)="showSideBar(false)">
          <ng-container *ngTemplateOutlet="pluginLink; context: { $implicit: config }"></ng-container>
        </div>
      </ng-container>
    </section>
  </yuv-sidebar>
</ng-container>

<ng-template #pluginLink let-config>
  <a *ngIf="config.path.match('^http')" href="{{ config.path }}" target="_blank">{{ config.label | translate }}</a>
  <a *ngIf="!config.path.match('^http')" routerLink="{{ config.path }}" routerLinkActive="active">{{ config.label | translate }}</a>
</ng-template>

<ng-template #offlineNoUser>
  <div class="offline-no-user" *ngIf="isOffline">
    <div class="box">
      <h1>{{ 'yuv.client.frame.offline.title' | translate }}</h1>
      <div>{{ 'yuv.client.frame.offline.message' | translate }}</div>
      <yuv-icon class="logo" [icon]="'offline'"></yuv-icon>
      <button class="primary" (click)="reload()">{{ 'yuv.client.frame.offline.button.refresh' | translate }}</button>
    </div>
  </div>
</ng-template>

<!------move notification------>

<ng-template #moveNotification let-data let-popover="popover">
  <div
    class="move-notification"
    [ngClass]="{
      fail: data.failed?.length,
      warning: data.failed?.length && data.succeeded?.length
    }"
  >
    <!---------warning notification--------------->
    <div *ngIf="data.failed?.length && data.succeeded?.length; else tplMoveMessage">
      <div class="succededItems">
        <div class="header">
          <div class="header-title">
            {{ 'yuv.client.frame.move.notification.some.successfullItems' | translate }}
            <p class="bold-text">{{ data.title }}</p>
          </div>
        </div>
        <div class="list succeded-list">
          <div *ngFor="let s of data.succeeded" class="entry succeeded-entry">
            <yuv-object-type-icon [objectTypeId]="s.objectTypeId"></yuv-object-type-icon>
            <div>
              <div class="title">{{ s.title }}</div>
              <div class="description">{{ s.description }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="failedItems">
        <div class="header">
          <div class="header-title">
            {{ 'yuv.client.frame.move.notification.failedItems' | translate }}
          </div>
        </div>

        <div class="list failed-list">
          <div *ngFor="let f of data.failed" class="entry failed-entry">
            <yuv-object-type-icon [objectTypeId]="f.objectTypeId"></yuv-object-type-icon>
            <div>
              <div class="title">{{ f.title }}</div>
              <div class="description">{{ f.description }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="primary" (click)="closeNotification(popover)" translate>yuv.client.frame.move.notification.ok</button>
      </div>
    </div>

    <ng-template #tplMoveMessage>
      <!--succesfull move notification---------->

      <div *ngIf="data.succeeded?.length">
        <div class="header">
          <div class="header-title">
            {{ 'yuv.client.frame.move.count.files' | translate: { count: data.succeeded.length } }}
            <p class="bold-text">{{ data.title }}</p>
          </div>
        </div>

        <div class="list succeded-list">
          <yuv-form-input class="checkbox" [skipToggle]="true" [label]="'yuv.framework.object-create.afo.upload.skip-notification' | translate">
            <yuv-checkbox [(ngModel)]="moveNoticeDialogSkip" [ngModelOptions]="{ standalone: true }" (ngModelChange)="skipMoveDialog($event)"></yuv-checkbox>
          </yuv-form-input>
        </div>
        <div class="actions">
          <a *ngIf="data.newParent" routerLink="/object/{{ data.newParent.id }}" (click)="closeNotification(popover)">
            <button class="secondary" translate>yuv.client.frame.move.notification.goTo.folder</button>
          </a>
          <button class="primary" (click)="closeNotification(popover)" translate>yuv.client.frame.move.notification.ok</button>
        </div>
      </div>

      <!--failed move notification-->

      <div *ngIf="data.failed?.length">
        <div class="header">
          <div class="header-title">
            {{ 'yuv.client.frame.move.notification.failed' | translate }}
          </div>
        </div>

        <div class="list failed-list">
          <div *ngFor="let f of data.failed" class="entry failed-entry">
            <yuv-object-type-icon [objectTypeId]="f.objectTypeId"></yuv-object-type-icon>
            <div>
              <div class="title">{{ f.title }}</div>
              <div class="description">{{ f.description }}</div>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="primary" (click)="closeNotification(popover)" translate>yuv.client.frame.move.notification.ok</button>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
